<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
      img{ align-items: center; width: 500px; height: 150px;} .user{font-weight:
      bold; color: #008000;}
    </style>

  </head>
  <body>
    <img src={{image}} alt="BIMTian" />
    <p>Hello <span class="user">{{user}}</span>,</p>
    <p>{{text}}</p>
  </body>
</html>